@font-face {
  font-family: 'Main';
  src: url('assets/font.ttf');
}

html, body {
    background-color: #C41E3A;
    width: 100%;
    height: 100%
}

h1 {
  font-family: "Main";
  font-weight: normal;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#canvas {
  display: none
}

#player {
  max-width: 500px;
  max-height: 500px;
}
